@import "base";


#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: $accent-color;
  transition: 0.4s;
}

a:hover {
  background-color: rgba($accent-color, 0.2);
}
